p {
    color: black;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
}

body {
    background-color: darkseagreen;
}


h1 {
    color: black;
    text-align: center;
    font-size: 60px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
        
}

h2 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Gentium Book Basic', serif;
}

img {
    width: 100%;
    height: auto;
}


ul {
    list-style-type: georgian;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: forestgreen;
    font-family: 'Fjalla One', sans-serif;
}

video {
    display: block;
    margin: 0 auto;
}


li {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}